* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  scroll-behavior: smooth;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200%;
  width: 100vw;
}
.header {
  height: 10vh;
  width: 100vw;
  background: linear-gradient(to right, #dad8d8, #c0e5f1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.dashboardandlogoutbtn{
  display: flex;
  align-items: center;
}
.logoutdiv{
  z-index: 2;
}
.logoutbtn{
  width: 6vw;
  height: 5vh;
  font-size: large;
  background-color: inherit;
  transition: .8s;
}
.logoutbtn:hover{
  background-color: rgba(248, 57, 57, 0.826);
  cursor: pointer;
}
.logo {
  height: 8vh;
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}
.logo span {
  font-size: 2.5rem;
  font-weight: 600;
  color: Red;
}
.welcome {
  height: 6vh;
  width: 20vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 3vh;
  font-size: 1.2rem;
}
.welcome span {
  font-family:  sans-serif;
  color: rgb(247, 37, 37);
}
.dashboard {
  height: 9vh;
  width: 15vw;
  margin-left: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}
.profile:hover {
  cursor: pointer;
}
.page1 {
  margin-top: 10vh;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.7rem;
  color: #eede90;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.leftOfPage1 {
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-around;
  padding-left: 8vw;
}
.page1LU {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Black;
  border: 1px solid rgb(255, 255, 255);
  opacity: 1;
  transition: 2s;
  transform: translateX(-100px);
}
.page1LU.show {
  transform: translateX(0);
  opacity: 1;
}
.page1LU.show:hover {
  transform: translateY(-1vh);
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 1.5px solid rgb(34, 6, 246);
  color: White;
}
.page1LL {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Black;
  border: 1px solid white;
  opacity: 1;
  transition: 2s;
  transform: translateX(-100px);
}
.page1LL.show {
  transform: translateX(0);
  opacity: 1;
}
.page1LL.show:hover {
  transform: translateY(-1vh);
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 1.5px solid rgb(34, 6, 246);
  color: White;
}
.rightOfPage1 {
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-around;
  padding-left: 8vw;
}
.page1RU {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Black;
  border: 1px solid white;
  opacity: 1;
  transition: 2s;
  transform: translateX(100px);
}
.page1RU.show {
  transform: translateX(0);
  opacity: 1;
}
.page1RU.show:hover {
  transform: translateY(-1vh);
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 1.5px solid rgb(34, 6, 246);
  color: White;
}
.page1RL {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Black;
  border: 1px solid white;
  opacity: 1;
  transition: 2s;
  transform: translateX(100px);
}
.page1RL.show {
  transform: translateX(0);
  opacity: 1;
}
.page1RL.show:hover {
  transform: translateY(-1vh);
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 1.5px solid rgb(34, 6, 246);
  color: White;
}
.page2 {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  background-color: black;
  font-size: 1.7rem;
  color: #eede90;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.leftOfPage2 {
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-around;
  padding-left: 8vw;
}
.page2LU {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Black;
  border: 1px solid white;
  opacity: 1;
  transition: 2s;
  transform: translateX(-100px);
}
.page2LU.show:hover {
  transform: translateY(-1vh);
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 1.5px solid rgb(34, 6, 246);
  color: White;
}
.page2LU.show {
  transform: translateX(0);
  opacity: 1;
}
.page2LL {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Black;
  border: 1px solid white;
  opacity: 1;
  transition: 2s;
  transform: translateX(-100px);
}
.page2LL.show {
  transform: translateX(0);
  opacity: 1;
  color: rgb(236, 59, 88);
}
.page2LL.show:hover {
  transform: translateY(-1vh);
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 1.5px solid rgb(34, 6, 246);
  color: White;
}
.rightOfPage2 {
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-around;
  padding-left: 8vw;
}
.page2RU {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Black;
  border: 1px solid white;
  opacity: 1;
  transition: 2s;
  transform: translateX(100px);
}
.page2RU.show {
  transform: translateX(0);
  opacity: 1;
}
.page2RU.show:hover {
  transform: translateY(-1vh);
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 1.5px solid rgb(34, 6, 246);
  color: White;
}
.page2RL {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: Black;
  border: 1px solid white;
  opacity: 1;
  transition: 2s;
  transform: translateX(100px);
}
.page2RL.show {
  transform: translateX(0);
  opacity: 1; color: rgb(236, 59, 88);
}
.page2RL.show:hover {
  transform: translateY(-1vh);
  transition: 0.4s ease-out;
  cursor: pointer;
  border: 1.5px solid rgb(34, 6, 246);
  color: White;
}
.footer {
  height: 20vh;
  width: 100vw;
  background: linear-gradient(to bottom, #d8cdcd, #fdfafa);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}
