*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100%;
    background: url('../lp-bg.jpg') no-repeat center/cover;
}
.container{
  margin-top: 10vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.welcome{
    height: 100%;
    width: 40%;
    position: absolute;
    margin-top: 40vh;
    right: 0;
}
.welcome h1{
    color: #f4f2f2;
    font-size: 2.8rem;
    text-shadow: 0 5px 10px rgb(254, 251, 251);
   
}
.welcome span{
    color: red;
}
.subtitle{
    height: 100%;
    width: 40%;
    position: absolute;
    margin-top: 60vh;
    padding-left: 3vh;
    font-size: larger;
    right: 0;
    color: #f4eded;
}
.btn{
    height: 20%;
    width: 40%;
    position: absolute;
    right: 0;
    
}
.btn button{
    height: 7vh;
    padding: 1vh;
    width: 30vw;
    font-size: larger;
    /* border-radius: 3%; */
    outline: none;
    margin-left: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #fff;
    box-shadow: 0 5px 10px rgb(254, 251, 251);;
}
.btn button:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(35, 35, 221), black);
    color: White;
    font-weight: 600;
}

::-webkit-scrollbar{
    display: none;
};
